@media(max-width:1042px) {
    .action_order {
        max-width: 100%;
    }
}

@media(max-width:882px) {
    .header_bottom {
        margin-top: 2rem;
    }

    .fixed_food_delivery {
        top: -2rem;
        left: -10rem;
    }
}

@media(max-width:834px) {
    .navigation {
        grid-template-columns: repeat(3, auto);
    }

    .content_left_header_bottom h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .action_order {
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .action_order>button {
        padding: 16px;
        font-size: 14px;
    }

    .fixed_food_delivery {
        padding: 6px;
        top: -1rem;
        left: -5rem;
    }

    .fixed_food_delivery span {
        font-size: 19px;
    }

    .button_action_order {
        max-width: 54%;
        padding: 5px 10px;
        gap: 2px;
    }

    .order_food {
        margin-top: 2rem;
    }

    .navigation>ul {
        display: none;
    }

    .link_navigation {
        justify-self: center;
    }

    .menu_icon {
        justify-self: flex-end;
    }

    .row_grid_food_products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:999px) {
    .img_section_mobile_app {
        grid-row: 2;
        grid-column: 1 span;
        margin-top: 4rem;
    }

    .img_section_mobile_app {
        top: -17px;
    }

    .content_section_mobile_app h4 {
        font-size: 36px;
    }

    .content_section_mobile_app p {
        font-size: 15px;
    }

    .content_section_mobile {
        grid-column: 2 span;
    }
}

@media(min-width:835px) {
    .menu_icon {
        display: none;
    }
}

@media(max-width:676px) {
    .header_bottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .content_left_header_bottom {
        width: 100%;
        text-align: center;
    }

    .content_left_header_bottom p {
        max-width: 100%;
        margin: 1.5rem 0;
    }

    .order_food-desktop {
        display: none;
    }

    .order_food-mobile {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fixed_food_delivery {
        position: static;
        width: 30%;
    }

    .action_order>button {
        padding: 9px;
    }

    .action_order>button svg {
        font-size: 19px;
        margin-top: -2px;
    }

    .section_mobile_app {
        max-width: 100%;
        border-radius: 500px 500px 0 0;
        -webkit-border-radius: 500px 500px 0 0;
        -moz-border-radius: 500px 500px 0 0;
        -ms-border-radius: 500px 500px 0 0;
        -o-border-radius: 500px 500px 0 0;
    }

    .content_section_mobile {
        margin-top: 6rem;
        text-align: center;
    }

    .content_section_mobile p {
        max-width: 100%;
    }

    .img_section_mobile_app {
        grid-column: 2 span;
        justify-self: center;
    }

    .img_section_mobile_app img {
        max-width: 200px;
        top: -12px;
    }
}

@media(min-width:677px) {
    .order_food-mobile {
        display: none;
    }

}

@media(max-width:500px) {
    .row_grid_food_products {
        grid-template-columns: repeat(1, 1fr);
    }
}