* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins";
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --color_C90000: #C90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_fff: #fff;
    --color_rgb_241: rgba(241, 241, 241, 0.70);
}


@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/poppins/poppins-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins/poppins-medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-semibold-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-light-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-regular-webfont.woff") format("woff");
}

.main_header {
    margin-top: 1rem;
}

.container_site {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.navigation {
    display: grid;
    grid-template-columns: 58px 635px 193px;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navigation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.navigation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navigation ul li a {
    font-weight: 500;
}

.link_navigation a {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.link_navigation a:first-child {
    color: var(--color_C90000);
    font-weight: 400;
}

.link_navigation a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

#close_icon {
    display: none;
    color: var(--color_504F4F);
}

.nav_menu_sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid;
    width: 200px;
    padding: 1rem;
    transform: translateX(-13rem);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}

#input_menu:checked+label+ul {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#input_menu:checked+label svg:first-child {
    display: none;
}

#input_menu:checked+label #close_icon {
    display: block;
}

.header_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content_left_header_bottom {
    align-self: center;
}

.content_left_header_bottom h1 {
    color: var(--color_C90000);
    font-size: 3rem;
    line-height: 72px;
    font-weight: 600;
}

.content_left_header_bottom p {
    color: var(--color_504F4F);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    max-width: 70%;
}

.order_food {
    margin-top: 3rem;
}

.text_price_order_food {
    color: var(--color_323232);
    margin-bottom: 1rem;
}

.text_price_order_food span:first-child {
    font-size: 16px;
    font-weight: 300;
}

.text_price_order_food span:last-child {
    font-size: 24px;
    font-weight: 500;
}

.action_order {
    display: flex;
    justify-content: space-between;
    max-width: 82%;
}

.button_action_order {
    max-width: 50%;
    gap: 12px;
    border: 1px solid var(--color_rgb_241);
    background-color: var(--color_fff);
    border-radius: 100px;
    box-shadow: 0 10px 17px 0 rgba(112, 114, 176, 0.20);
    padding: 8px 16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_action_order button {
    background-color: transparent;
    border: none;
}

.button_action_order span {
    color: var(--color_FFC300);
    font-size: 20px;
    font-weight: 500;
}

.button_action_order span::after,
.button_action_order span::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: var(--color_rgb_241);
    margin-left: 12px;
}

.button_action_order span::after {
    margin-left: 12px;
}

.button_action_order span::before {
    margin-right: 12px;
}

.action_order>button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_FFC300);
    box-shadow: 0px 20px 20px 0px var(--color_rgb_241);
    border: none;
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 600;
    border-radius: 100px;
    padding: 16px 24px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.action_order>button svg {
    margin: -3px 5px 0 0;
}