* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins";
    margin-bottom: 4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --color_C90000: #C90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
    --color_fff: #fff;
    --color_FFFDE6: #FFFDE6;
    --color_rgb_241: rgba(241, 241, 241, 0.70);
    --color_rgb_241-040: rgba(241, 241, 241, 0.40);
}


@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/poppins/poppins-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins/poppins-medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-semibold-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-light-webfont.woff") format("woff");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-regular-webfont.woff") format("woff");
}

img {
    width: 100%;
}

.main_header {
    margin-top: 1rem;
}

.container_site {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.navigation {
    display: grid;
    grid-template-columns: 58px 635px 193px;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navigation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.navigation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navigation ul li a {
    font-weight: 500;
}

.link_navigation a {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.link_navigation a:first-child {
    color: var(--color_C90000);
    font-weight: 400;
}

.link_navigation a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

#close_icon {
    display: none;
    color: var(--color_504F4F);
}

.nav_menu_sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid;
    width: 200px;
    z-index: 100;
    padding: 1rem;
    transform: translateX(-13rem);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}

#input_menu:checked+label+ul {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#input_menu:checked+label svg:first-child {
    display: none;
}

#input_menu:checked+label #close_icon {
    display: block;
}

.header_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content_left_header_bottom {
    align-self: center;
    width: 86%;
}

.fixed_food_delivery {
    position: absolute;
    top: 5rem;
    left: -6rem;
    border-radius: 50px 50px 0 50px;
    border: 1px solid var(--color_F1F1F1);
    background-color: var(--color_rgb_241-040);
    padding: 12px;
    text-align: center;
    -webkit-border-radius: 50px 50px 0 50px;
    -moz-border-radius: 50px 50px 0 50px;
    -ms-border-radius: 50px 50px 0 50px;
    -o-border-radius: 50px 50px 0 50px;
}

.fixed_food_delivery div {
    display: flex;
    align-items: center;
}

.fixed_food_delivery div span {
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
}

.fixed_food_delivery>span {
    color: var(--color_7D7C7C);
    display: block;
    margin-top: 6px;
    font-size: 16px;
}

.content_right_header_bottom {
    position: relative;
}


.content_left_header_bottom h1 {
    color: var(--color_C90000);
    font-size: 3rem;
    line-height: 72px;
    font-weight: 600;
}

.content_left_header_bottom p {
    color: var(--color_504F4F);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    max-width: 70%;
}

.order_food {
    margin-top: 3rem;
}

.text_price_order_food {
    color: var(--color_323232);
    margin-bottom: 1rem;
}

.text_price_order_food span:first-child {
    font-size: 16px;
    font-weight: 300;
}

.text_price_order_food span:last-child {
    font-size: 24px;
    font-weight: 500;
}

.action_order {
    display: flex;
    justify-content: space-between;
    max-width: 79%;
}

.button_action_order {
    gap: 12px;
    max-width: 41%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_rgb_241);
    background-color: var(--color_fff);
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0 10px 17px 0 rgba(112, 114, 176, 0.20);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.button_action_order button {
    background-color: transparent;
    border: none;
}

.button_action_order span {
    color: var(--color_FFC300);
    font-size: 20px;
    font-weight: 500;
}

.button_action_order span::after,
.button_action_order span::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: var(--color_rgb_241);
}

.button_action_order span::after {
    margin-left: 12px;
}

.button_action_order span::before {
    margin-right: 12px;
}

.action_order>button {
    background-color: var(--color_FFC300);
    box-shadow: 0 20px 20px var(--color_rgb_241);
    color: var(--color_323232);
    border: none;
    border-radius: 100px;
    font-family: "poppins";
    padding: 16px 24px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.action_order>button svg {
    margin: -3px 5px 0 0;
}

.row_title_section_food h4 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: max-content;
}

.line_bottom_row_title {
    width: 100%;
    height: 9px;
    background-color: var(--color_FFF6A3);
    position: absolute;
    top: 35px;
    z-index: -1;
}

.row_button_category {
    display: grid;
    grid-auto-columns: 170px;
    grid-auto-flow: column;
    column-gap: 20px;
    margin-top: 32px;
    overflow-x: auto;
}

.row_button_category button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_E3E3E3);
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    column-gap: 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.button-active-category {
    background-color: var(--color_FFC300) !important;
    color: var(--color_323232) !important;
    font-weight: 600 !important;
}

.row_grid_food_products {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}

.item_food_grid {
    border: 1px solid var(--color_E3E3E3);
    padding: 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
}

.badge_discount {
    position: absolute;
}

.img_food_grid {
    position: relative;
    text-align: center;
}

.img_food_grid img {
    max-width: 227px;
    max-height: 170px;
}

.img_food_grid div {
    height: 105px;
    background-color: var(--color_FFFDE6);
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: -2px;
}

.info_item_food_grid {
    margin-top: 18px;
}

.info_item_food_grid h5 {
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 600;
}

.info_item_food_grid p {
    color: var(--color_504F4F);
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.score_item_food_grid {
    margin: 12px 0 20px 0;
}

.score_item_food_grid span {
    color: var(--color_7D7C7C);
}

.bottom_item_food_grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_item_food_grid span {
    font-size: 24px;
    font-weight: 600;
}

.bottom_item_food_grid button {
    border: none;
    background-color: var(--color_C90000);
    padding: 6px 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.see_all_food {
    margin-top: 1.5rem;
    text-align: center;
}

.see_all_food a {
    color: var(--color_504F4F);
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}

.section_off {
    margin-top: 10rem;
}

.section_off .row_title_section_food {
    display: flex;
    justify-content: center;
}

.title_sm_item_food_off {
    display: flex;
    align-items: center;
    gap: 11px;
}

.title_sm_item_food_off span:last-child {
    width: 70%;
    height: 1px;
    display: inline-block;
    background-color: var(--color_7D7C7C);
}

.title_sm_item_food_off span:first-child {
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
}

.grid_foods_off {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    margin-top: 1.8rem;
}

.item_food_off {
    /*width: 370px;
    */
    height: 335px;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    padding: 2rem 0 2rem 1.2rem;
    border-radius: 20px;
    overflow: hidden;
    transition: all 250ms ease-in;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.item_food_off:hover .left_item_food_off h6 {
    color: var(--color_FFC300);
}

.item_food_off:hover .left_item_food_off p,
.item_food_off:hover .title_sm_item_food_off span:first-child,
.item_food_off:hover .left_item_food_off del {
    color: var(--color_fff);
}

.item_food_off:hover .price_off span {
    color: var(--color_FFC300);
}

.item_food_off:hover .left_item_food_off button {
    color: var(--color_323232);
    background-color: var(--color_fff);
}

.item_food_off:hover .left_item_food_off button svg path {
    fill: var(--color_323232);
}

.item_food_off:hover {
    background-color: var(--color_C90000);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.row_info_food_off {
    display: flex;
}

.left_item_food_off {
    width: 95%;
}

.left_item_food_off h6 {
    color: var(--color_C90000);
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.9rem 0;
    white-space: nowrap;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.left_item_food_off p {
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 10rem;
    height: 44px;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.price_off del {
    color: var(--color_7D7C7C);
    font-size: 16px;
    font-weight: 600;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.price_off span {
    color: var(--color_C90000);
    font-size: 24px;
    font-weight: 600;
    margin-top: 0.5rem;
    display: inline-block;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.left_item_food_off button {
    display: flex;
    align-items: center;
    column-gap: 3px;
    background-color: var(--color_504F4F);
    color: var(--color_F1F1F1);
    padding: 8px 12px;
    margin-top: 4.5rem;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.left_item_food_off button span {
    height: 24px;
    line-height: 27px;
}

.right_item_food_off img {
    position: relative;
    top: 25%;
    right: 30%;
    max-width: 273px;
    max-height: 204px;
    width: 273px;
}

.seconde_item_food_off .right_item_food_off img {
    right: 55%;
}

.section_mobile_app {
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: flex-end;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    border-radius: 0 500px 500px 0;
    max-width: 90%;
    margin-top: 10rem;
    -webkit-border-radius: 0 500px 500px 0;
    -moz-border-radius: 0 500px 500px 0;
    -ms-border-radius: 0 500px 500px 0;
    -o-border-radius: 0 500px 500px 0;
}

.img_section_mobile_app img {
    height: 100%;
    max-width: 400px;
    object-fit: cover;
    transform: scale(1.1);
    position: relative;
    top: -18px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.content_section_mobile {
    padding: 2rem;
    justify-self: center;
    align-self: center;
}

.content_section_mobile h6 {
    color: var(--color_7D7C7C);
    font-size: 20px;
    font-weight: 500;
}

.content_section_mobile h4 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 500;
    margin: 1rem 0;
}

.content_section_mobile p {
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 90%;
}

.download_btn_app a {
    margin-top: 32px;
    width: 14%;
    display: inline-block;
}

.download_btn_app a:last-child {
    margin-left: 20px;
}